$theme.sc-table-view {
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
 
  &.sel {
    -webkit-box-shadow: 0 0 4px 2px rgba(91, 156, 213, 0.9), inset 0 1px 4px rgba(0, 0, 0, 0.5);
	  -moz-box-shadow: 0 0 2px 2px rgba(91, 156, 213, 0.9), inset 0 1px 4px rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 2px 2px rgba(91, 156, 213, 0.9), inset 0 1px 4px rgba(0, 0, 0, 0.5); 
  }         
}

$theme.sc-table-header {
  border-bottom: 1px solid #E0E0E0; 
  border-top: 1px solid #E0E0E0; 
  background-image: linear-gradient(bottom, rgb(235,235,235) 5%, rgb(253,253,253) 57%);
  background-image: -o-linear-gradient(bottom, rgb(235,235,235) 5%, rgb(253,253,253) 57%);
  background-image: -moz-linear-gradient(bottom, rgb(235,235,235) 5%, rgb(253,253,253) 57%);
  background-image: -webkit-linear-gradient(bottom, rgb(235,235,235) 5%, rgb(253,253,253) 57%);
  background-image: -ms-linear-gradient(bottom, rgb(235,235,235) 5%, rgb(253,253,253) 57%);

  background-image: -webkit-gradient(
    linear, 
    right bottom, 
    right top, 
    color-stop(0.05, rgb(235,235,235)), 
    color-stop(0.70, rgb(253,253,253))
  ); 

  .sc-table-cell {
    overflow: visible;

    label {
      display: block;
      font-family: Helvetica;
      line-height: 18px;
      font-weight: normal;
      color: #363636;
      overflow: hidden;
      text-overflow: ellipsis;
      height: auto;
      margin: 0px; 
    }

    &.sel {
      background-image: linear-gradient(bottom, rgb(100,159,242) 14%, rgb(168,206,250) 70%);
      background-image: -o-linear-gradient(bottom, rgb(100,159,242) 14%, rgb(168,206,250) 70%);
      background-image: -moz-linear-gradient(bottom, rgb(100,159,242) 14%, rgb(168,206,250) 70%);
      background-image: -webkit-linear-gradient(bottom, rgb(100,159,242) 14%, rgb(168,206,250) 70%);
      background-image: -ms-linear-gradient(bottom, rgb(100,159,242) 14%, rgb(168,206,250) 70%);

      background-image: -webkit-gradient(
        linear,
      	left bottom,
      	left top,
      	color-stop(0.14, rgb(100,159,242)),
      	color-stop(0.7, rgb(168,206,250))
      );
    }
  }
}

$theme.sc-table-header .sc-thumb-view {
  z-index: 3;
  overflow: visible;
  background: static_url('resources/grippy2.png') 6px center no-repeat;
}

$theme.sc-table-header .sc-thumb-view:hover, .sc-table-header .sc-thumb-view.dragging {
  background: static_url('resources/grippy.png') 6px center no-repeat;
}

$theme.sc-table-header .dragger {
  position: absolute;
  top: 0px;
  right: -2px;
  width: 0px;
  bottom: 0px;
  border-right: 1px solid rgba(255, 255, 255, .5);
  border-left: 1px solid rgba(0, 0, 0, .1);
}
    
$theme.sc-table-header .dragging .dragger {
  display: none;
}
    
$theme.sc-table-data-view .sc-dataview-row {
  background-color: white;

  &.odd {
    background-color: #f9fafb;
  }

  &.sel {
    background-color: #72bdf7;
    
    .table-cell {
      border-right: none;
    }

    .sc-label-view {
      color: white; 
      font-weight: bold;
    }
  }

  .sc-label-view {
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
    color: #404040; 
  }
}

.sc-sort-state-asc {
  background-image: static_url('resources/sort-asc.png');
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .45;
}

.sc-sort-state-desc {
  background-image: static_url('resources/sort-desc.png');  
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .45;

}
